/*profile page*/
.column{
    width: 100%;
    height: 100vh;
    padding: 24px;
}
.row{
    width: calc(100% - 100px);
    height: 588px;
    padding: 24px;
    background-color: var(--tertiary);
    border-radius: 12px;
}
.tabs{
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--text);
}
.tab-el{
    margin: 24px;
    height: 32px;
    cursor: pointer;
}
.active-tab{
    color: var(--primary);
    border-bottom: 4px solid var(--primary);
    font-weight: bolder;
}
.tab-content{
    padding-left: 24px;
}
.none{
    display: none;
}
.user-form{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.sec-1{
    width: 35%;
    display: flex;
    flex-direction: column;
}
.form-el{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 6px;
}
.form-el input{
    width: 100%;
    height: 48px;
    background-color: var(--text);
    border-radius: 6px;
    border: none;
    margin-top: 12px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.profile-image{
    width: 200px;
    height: 200px;
}
.modal-container{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    width: 40%;
    height: 750px;
    padding: 12px;
    position: relative;
    background-color: var(--table-row-1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.map{
    height: 40%;
    width:100%;
    background-color: rgba(176, 176, 176, 0.51);
    border-radius: 12px;
    
}
.circle-location{
    width: 24px;
    height: 24px;
    background-color: var(--text);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.location{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 14px;

}
.location p, .location div{
    margin-left: 12px;
    
}
.driver{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 14px;
}
.driver p{
    margin-left: 12px;
}
.img{
    width: 60px;

}
.close{
    top: 24px;
    right: 24px;
    position: absolute;
    font-size: 24px;
    color: var(--text);
    cursor: pointer;
    
}
.back{
    text-decoration: none;
    color: var(--text);
}
.display-none{
    display: none;
    overflow: hidden;
}